@model ICollection<DataverseTest.Models.Contact>
@{
    ViewData["Title"] = "Home Page";
}


<script>
    $(document).ready(function () {
        $('table').DataTable();
    });
</script>
<table id="contactTable"  class="display" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Address</td>
                Area for Edit and Delete
                <td><input type="button" /></td>
            </tr>
        }
    </tbody>
</table>

<div class="form-inline">@Html.ActionLink("Create Contact", "Create", "Home")</div>


